body{
    color: #ffd000;
    background-color: #2a6334;
}
/* #ffd000 */
p{
    font-family: 'Christmas   Classica', sans-serif;
    font-family: "Barrio", system-ui;
    font-weight: 400;
    font-style: normal;  
    text-align: center; 
    font-size: 60px;                               
}


#demo{
    font-size: 100px;
    text-align: center;
    margin-top: 5px;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-bottom: -3%;
}
.countdown{
    margin-top: 0%;
}
.christmastext{
    text-align: center;
}
@media screen and (max-width:800px) {
    p{
        font-size: 50px;
    }
    #demo{
        font-size: 50px;
    }

    .countdown{
        margin-top: 5%;
    }
}



img{
    width: 200px;
    height: 100px;
    margin-left: 42%;

}
@media screen and (max-width:800px) {
    img{
        margin-left: 24%;
    }
}
